# macOS hidden metadata file
.DS_Store

# Backup files from some editors
**/*.rs.bk

# Rust compilation folder
/target

# devenv state and local overrides
/.devenv
devenv.local.nix
devenv.local.yaml

# hidden folders from code editors
/.vscode
/.nova
/.idea

# ignored folder, used for testing purposes
/ignored
